@tailwind base;
@tailwind components;
@tailwind utilities;

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/effect-coverflow";


/* Your custom CSS (optional) */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Make Swiper dots green */
/* .swiper-pagination-bullet { */
  /* background-color: #22c55e !important; Tailwind green-500 */
  /* opacity: 0.4; */
/* } */

.swiper-pagination-bullet-active {
  background-color: #16a34a !important; /* Tailwind green-700 */
  opacity: 1;
}
